doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Responsive Admin Dashboard Template')
    meta(name='keywords', content='admin,dashboard')
    meta(name='author', content='stacks')
    // The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags
    // Title
    title Wetterbest
    // Styles
    link(href='https://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet')
    link(href='plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='plugins/icomoon/style.css', rel='stylesheet')
    link(href='plugins/uniform/css/default.css', rel='stylesheet')
    link(href='plugins/switchery/switchery.min.css', rel='stylesheet')
    // Theme Styles
    link(href='css/space.css', rel='stylesheet')
    link(href='css/custom.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    // Page Container
    .page-container
      // Page Inner
      .page-inner.login-page
        #main-wrapper.container-fluid
          .row
            .col-sm-6.col-md-3.login-box
              img(src='https://www.wetterbest.ro/wp-content/themes/wtb-child/img/logo.png')
              br
              h2 Form Cortina
              br
              form(method='POST' action='/login')
                .form-group
                  label Username 
                  input#username.form-control(type='text', name='username') 
                  <hr>                 
                  label(for='exampleInputPassword1') Parola
                  input#password.form-control(type='password', name='password')
                input.btn.btn-primary(type='submit' value='Login') 
// /Page Content
// /Page Container
// Javascripts
script(src='plugins/jquery/jquery-3.1.0.min.js')
script(src='plugins/bootstrap/js/bootstrap.min.js')
script(src='plugins/jquery-slimscroll/jquery.slimscroll.min.js')
script(src='plugins/uniform/js/jquery.uniform.standalone.js')
script(src='plugins/switchery/switchery.min.js')
script(src='js/space.min.js')
      
